<p>Welcome. See all the wonderful ideas.</p>
<%= link_to 'List my idea', new_idea_path %><br>
<%= link_to 'Create Category', new_category_path if can? :create, Category %>


<div class="page-header">
</div>
 
<div id="my-ideas">
  <%= render @ideas if can? :index, Idea %><br><br>

</div>
 
<div id="infinite-scrolling">
  <%= will_paginate @ideas %>
</div>







