
 body {
  padding: 1em;
 }

.pitch-image {
  max-height: 200px;
}

#idea_score {
  float: left;
  padding-right: 20px;
}





/* START OF -----------------------------*/
/* UP AND DOWNVOTE STYLES */

.arrow-up-unselected {
  width: 0; 
  height: 0; 
  border-left: 15px solid transparent;
  border-right: 15px solid transparent; 
  border-bottom: 15px solid grey;
  margin-bottom: 8px;
  background-color: white;
  border-top: none;
  padding: 0px;
}

/*Warning: DO NOT move this above .arrow-up-unselected*/
.arrow-up-selected {
  width: 0; 
  height: 0; 
  border-left: 15px solid transparent;
  border-right: 15px solid transparent; 
  border-bottom: 15px solid darkorange;
  margin-bottom: 8px;
  background-color: white;
  border-top: none;
  padding: 0px;
}

.arrow-down-unselected {
  width: 0; 
  height: 0; 
  border-left: 15px solid transparent;
  border-right: 15px solid transparent; 
  border-top: 15px solid grey;
  margin-top: 8px;
  background-color: white;
  border-bottom: none;
  padding: 0px;
}

/*Warning: DO NOT move this above .arrow-down-unselected*/
.arrow-down-selected {
  width: 0; 
  height: 0; 
  border-left: 15px solid transparent;
  border-right: 15px solid transparent; 
  border-top: 15px solid purple;
  margin-top: 8px;
  background-color: white;
  border-bottom: none;
  padding: 0px;
}

.score-unselected {
  padding-left: 5px;
  font-weight: bold;
  color: grey;
}

.score-up {
  padding-left: 5px;
  font-weight: bold;
  color: darkorange;
}

.score-down {
  padding-left: 5px;
  font-weight: bold;
  color: purple;
}

#show-score {
  margin-left: 3px;
  padding-left: 2px;
  font-weight: bold;
}

/* UP AND DOWNVOTE STYLES */
/* END OF -----------------------------*/



/* START OF -----------------------------*/
/* ERROR VALIDATION SYTLES */

.notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: lightblue;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid lightblue;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}

/* END OF -----------------------------*/
/* ERROR VALIDATION STYLES */

div.container {
  @include outer-container;
}

p#description {
  @include span-columns(6);
}

