
 div#main-contain {
  padding-left: 2em;
 }

.pitch-image {
  max-height: 200px;
}

.idea_score {
  float: left;
  padding-right: 20px;
  margin-top: 12px;
} 

.idea-container-on-index {
  padding-left: 55px;
}

p {
  margin-bottom: 0.3em; 
}

h3 {
  margin-bottom: 0.2em;
}

.idea-image {
  float: left;
  width: 90px;
  margin-right: 1.2em;
  margin-bottom: 2em;
  border-radius: 50%;
  border-style: solid;
  border-width: 2px;
  border-color: darkgrey;
}

input.submit_originality_rating {
  margin: 0.6em;
  background: lightgrey;
  border-radius: 0.2em;
}

input.submit_originality_rating:hover {
  margin: 0.6em;
  background: lightgrey;
  border-radius: 0.2em;
}

ul#originality-buttons li {
  display: inline;
}

ul#originality-buttons {
  margin-top: 1em;
}

.user-show-data-wrapper {
  margin: 2em 1em;
}

.idea-image-on-show-page {
  max-width: 20em;
  margin: 1.5em 0;
  border-radius: 50%;
}

p#description {
  max-width: 55em;
  margin-bottom: 0.5em;
}

#submitted-byline {
  font-style: italic;
  margin-bottom: 0.5em;
}

#navigation-wrapper-2 {
  margin-left: 5px;
  margin-right: 5px;
  max-width: 75em;
}

input#user_email, input#user_password, input#user_username, input#user_password_confirmation {
  max-width: 15em;
} 

input#idea_title, input#idea_remote_idea_image_url, input#idea_video_link {
  max-width: 40em;
}

textarea#idea_description {
  max-width: 40em;
  margin-right: 2em;
}

textarea#user_bio {
  width: 35em;
  height: 7em;
  // min-height: 7em;
}

form#errors-list.new_user #error_explanation ul li, form#new_idea.new_idea div#error_explanation ul li {
  list-style: none;
}

#email_when_logged_in {
  color: rgba(255, 255, 255, 0.7);
  font-style: italic;
  font-weight: bold;
  margin-left: 8em;
}

#my-ideas {
  margin-top: -5px;
}

ul.accordion-tabs {
  max-width: 55em;
}

input#sign-up-input[type="submit"], input#create-idea[type="submit"] {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #10517a);
    background-image: -moz-linear-gradient(top, #3498db, #10517a);
    background-image: -ms-linear-gradient(top, #3498db, #10517a);
    background-image: -o-linear-gradient(top, #3498db, #10517a);
    background-image: linear-gradient(to bottom, #3498db, #10517a);
    -webkit-border-radius: 20;
    -moz-border-radius: 20;
    border-radius: 20px;
    font-family: Arial;
    color: #ffffff;
    font-size: 16px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    border: none;
}

input[type="submit"]:hover, input#create-idea[type="submit"]:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

/* START OF -----------------------------*/
/* UP AND DOWNVOTE STYLES */

.upvoted .show-score {
  color: darkorange;
}

.downvoted .show-score {
  color: purple;
}

.arrow-up-unselected {
  width: 0; 
  height: 0; 
  border-left: 15px solid transparent;
  border-right: 15px solid transparent; 
  border-bottom: 15px solid grey;
  margin-bottom: 8px;
  background-color: white;
  border-top: none;
  padding: 0px;
}

/*Warning: DO NOT move this above .arrow-up-unselected*/
.arrow-up-selected {
  width: 0; 
  height: 0; 
  border-left: 15px solid transparent;
  border-right: 15px solid transparent; 
  border-bottom: 15px solid darkorange;
  margin-bottom: 8px;
  background-color: white;
  border-top: none;
  padding: 0px;
}

.arrow-down-unselected {
  width: 0; 
  height: 0; 
  border-left: 15px solid transparent;
  border-right: 15px solid transparent; 
  border-top: 15px solid grey;
  margin-top: 8px;
  background-color: white;
  border-bottom: none;
  padding: 0px;
}

/*Warning: DO NOT move this above .arrow-down-unselected*/
.arrow-down-selected {
  width: 0; 
  height: 0; 
  border-left: 15px solid transparent;
  border-right: 15px solid transparent; 
  border-top: 15px solid purple;
  margin-top: 8px;
  background-color: white;
  border-bottom: none;
  padding: 0px;
}

.score-unselected {
  padding-left: 5px;
  font-weight: bold;
  color: grey;
}

.score-up {
  padding-left: 5px;
  font-weight: bold;
  color: darkorange;
}

.score-down {
  padding-left: 5px;
  font-weight: bold;
  color: purple;
}

.show-score {
  margin-left: 3px;
  padding-left: 2px;
  font-weight: bold;
}

/* UP AND DOWNVOTE STYLES */
/* END OF -----------------------------*/


button#list_idea {
  background-color: orange;
  padding: 5px;
}





