<footer class="footer" role="contentinfo">
  <div class="footer-logo">
    <img src="http://static.iconsplace.com/icons/preview/orange/idea-256.png" alt="Logo image">
  </div>
  <p>Eureka! <%= DateTime.now.year %> </p>
  <br>
  <hr>
  <p><strong><u>Disclaimer:</u></strong> <i>All your ideas are belongs to us!</i></p>
</footer>
