<div id="searchbar">
  <%= search_form_for @q do |f| %>
    <%= f.text_field :title_cont, placeholder: "Idea title" %>
    <br>
    <br>
    <div>
      <%= f.submit "Search"%>
    </div>
  <% end %>
</div>
